@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans&family=PT+Sans&family=Poppins:wght@500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("/assets/champion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background: gray;
}
.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em ;
}
form{
    padding: 0 3em;
}

#login .title > span{
 font-size: .8em;
}  
